name: ci-for-higress
on:
  push:
    branches: [ main, master ]
    paths:
      - 'providers/higress/src/**'
      - 'providers/higress/vendor/**'
      - 'providers/higress/Cargo.lock'
      - 'providers/higress/Cargo.toml'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'providers/higress/src/**'
      - 'providers/higress/vendor/**'
      - 'providers/higress/Cargo.lock'
      - 'providers/higress/Cargo.toml'

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('providers/higress/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          default: true
          components: clippy,rustfmt

      - name: Install build dependencies and target
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Run linter
        working-directory: providers/higress
        run: make lint-base

      - name: Run tests
        working-directory: providers/higress
        run: make test-base