name: CI

on:
  push:
    branches: [ main, master ]
    paths:
      - 'traffic-counter/**'
      - 'traffic-counter-common/**'
      - 'traffic-counter-ebpf/**'
      - 'Cargo.lock'
      - 'Cargo.toml'
  pull_request:
    branches: [ main, master ]
    paths:
      - 'traffic-counter/**'
      - 'traffic-counter-common/**'
      - 'traffic-counter-ebpf/**'
      - 'Cargo.lock'
      - 'Cargo.toml'

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          default: true
          components: clippy,rustfmt
      
      - name: Install Nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          override: true
          components: clippy,rustfmt,rust-src

      - name: Install build dependencies and target
        run: |
          sudo apt-get update
          sudo apt-get install -y make
          
      - name: Install bpf linker
        run: |
          cargo install bpf-linker
      
      - name: Check dependencies
        run: make check-deps

      - name: Format check
        run: make fmt

      - name: Clippy
        run: make clippy

      - name: Run tests
        run: make test
